.main-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 60%;
	left: 10rem;
}

.welcome-container {
	display: flex;
	justify-content: space-around;
	background: #424152;
	position: relative;
	top: 8rem;
	left: 15%;
	width: 45%;
	height: 90%;
	border-radius: 47px;
}

.container-text {
	margin-top: 2rem;
	font-size: 3.5rem;
}

.profile-image {
	margin-top: 2rem;
}

.events-container {
	width: 100%;
	height: 100%;
	display: flex;
	position: relative;
	top: 10rem;
	left: 15%;
}

.events-container a {
	text-decoration: none;
}

.itweek-container {
	display: flex;
	background: #e8c261;
	/* position: relative;
	top: 10rem;
	left: 50%; */
	width: 100%;
	height: 70%;
	border-radius: 47px;
	color: #2d2c2c;
	font-size: 2rem;
	font-weight: bold;
}

.itweek-container span {
	position: relative;
	top: 1rem;
	left: 1rem;
	padding-right: 13rem;
}

.event-counter {
	display: block;
	font-size: 1rem;
}

.event-button {
	align-self: flex-end;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.leaderboard-container {
	background: #424152;
	position: relative;
	left: 1rem;
	width: 15%;
	height: 70%;
	border-radius: 47px;
	display: grid;
	place-items: center;
}

.leaderboard-container span {
	color: #fff4f4;
	font-size: 1.5rem;
}

.check-button {
	color: #fff4f4;
	text-decoration: none;
	background-color: #2d2c2c;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	font-size: 1.2rem;
	padding: 1rem;
}

/* User Navbar */
.user-nav-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: fixed;
	top: 8rem;
	right: 4rem;
	background-color: #424152;
	width: 30%;
	height: 80%;
	border-radius: 47px;
}
.level-text {
	position: relative;
	top: 1.5rem;
	left: 1.5rem;
	font-size: 2rem;
}

.level-container {
	width: 80%;
	height: 20%;
	background-color: #2d2c2c;
	border-radius: 47px;
}

.exp-bar-container {
	position: relative;
	top: 3rem;
	left: 2rem;
	background-color: #dfdfdf;
	height: 10%;
	width: 80%;
	border-radius: 52px;
}

.group-container {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.groups-sub-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.group-icon {
	background-color: #c4c4c4;
	width: 5rem;
	height: 5rem;
	border-radius: 25px;
}

.group-name {
	margin-left: 1rem;
}

.recent-container {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.recent-sub-container {
	margin: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.game-icon {
	background-color: #c4c4c4;
	width: 5rem;
	height: 5rem;
	border-radius: 25px;
}

.game-name {
	margin-left: 1rem;
}

.itweek-container {
	position: relative;
	overflow: hidden;
}

.data-empty-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

/**
   * The "shine" element
   */

.itweek-container:after {
	content: "";
	position: absolute;
	top: -110%;
	left: -210%;
	width: 200%;
	height: 200%;
	opacity: 0;
	transform: rotate(30deg);

	background: rgba(255, 255, 255, 0.13);
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.13) 0%,
		rgba(255, 255, 255, 0.13) 77%,
		rgba(255, 255, 255, 0.5) 92%,
		rgba(255, 255, 255, 0) 100%
	);
}

/* Hover state - trigger effect */

.itweek-container:hover:after {
	opacity: 1;
	top: -30%;
	left: -30%;
	transition-property: left, top, opacity;
	transition-duration: 0.7s, 0.7s, 0.15s;
	transition-timing-function: ease;
}

/* Active state */

.itweek-container:active:after {
	opacity: 0;
}
/* Mobile */

@media only screen and (max-width: 600px) {
	.main-container {
		height: 80%;
	}
	.container-text {
		margin: auto 1rem;
		font-size: 2rem;
	}

	.profile-image {
		margin-top: 0;
		transform: scale(0.7);
	}
	.welcome-container {
		left: 5%;
		width: 90%;
		height: 35%;
		border-radius: 25px;
	}

	.events-container {
		left: 6%;
	}
	.itweek-container {
		width: 100%;
		height: 35%;
		border-radius: 25px;
	}

	.itweek-container span {
		position: relative;
		top: 1rem;
		left: 1rem;
		padding-right: 0rem;
		font-size: 1.5rem;
	}

	.leaderboard-container {
		left: 1rem;
		width: 40%;
		height: 35%;
		border-radius: 25px;
	}

	.leaderboard-container span {
		font-size: 1.5rem;
	}

	.check-button {
		font-size: 0.8rem;
		padding: auto;
	}

	/* User Navbar */
	.user-nav-container {
		position: static;
		margin: auto;
		height: 60%;
		width: 80%;
		border-radius: 25px;
		margin-bottom: 5rem;
	}

	.level-text {
		font-size: 1rem;
	}

	.level-container {
		transform: scale(0.8);
	}

	h3 {
		font-size: 1rem;
	}

	.group-icon,
	.game-icon {
		width: 3rem;
		height: 3rem;
		border-radius: 10px;
	}
}

/* Tablet */

@media (min-width: 600px) and (max-width: 1350px) {
	.main-container {
		height: 80%;
	}
	.container-text {
		margin: auto 1rem;
	}

	.profile-image {
		margin-top: 0;
		transform: scale(0.7);
	}
	.welcome-container {
		width: 60%;
		height: 50%;
	}

	.itweek-container {
		width: 100%;
		height: 50%;
	}

	.itweek-container span {
		position: relative;
		top: 1rem;
		left: 1rem;
		padding-right: 15rem;
	}

	.leaderboard-container {
		left: 1rem;
		width: 20%;
		height: 50%;
	}

	.check-button {
		padding: auto;
	}

	/* User Navbar */
	.user-nav-container {
		position: static;
		margin: 5rem auto auto auto;
		height: 80%;
		width: 60%;
		transform: translateX(-7%);
		border-radius: 25px;
		margin-bottom: 5rem;
	}

	.level-text {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	.group-icon,
	.game-icon {
		width: 3rem;
		height: 3rem;
		border-radius: 10px;
	}
}
