* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	scroll-behavior: smooth;
}

.navbar {
	background-color: #ececec;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 999;
}

.navbar_container {
	display: flex;
	justify-content: space-between;
	height: 80px;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	margin: 0 0;
	padding: 0 50px;
}

#navbar_logo {
	background-color: #ff8177;
	background-image: linear-gradient(to top, #2a9441 0%, #42c54d 100%);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 2rem;
}

.navbar_menu {
	display: flex;
	align-items: center;
	list-style: none;
}

.navbar_item {
	height: 80px;
}

.navbar_links {
	color: rgb(0, 0, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 125px;
	text-decoration: none;
	height: 100%;
	transition: all 0.3s ease;
}

.navbar_btn {
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	width: 100%;
	display: none;
}
.navbar_btn_resp {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	width: 100%;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 10px 20px;
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	border-radius: 50px;
	background: #1f1f1f;
	background: -webkit-linear-gradient(to right, #131313, #272626, #444346);
	background: linear-gradient(to right, #131313, #272626, #444346);
	color: white;
	transition: all 0.3s ease;
}

.navbar_links:hover {
	color: #c3c3c3;
	transition: all 0.3s ease;
}

/* Game Choice */

.choice_head_container {
	display: flex;
	margin: 3rem 20rem;
	padding: 0.5rem 1rem;
	background: #2c2c2c;
	background: -webkit-linear-gradient(to right, #131313, #272626, #444346);
	background: linear-gradient(to right, #131313, #272626, #444346);
	border-radius: 50px;
}

.choice_head {
	color: #fff;
	margin: auto;
}

.games_container {
	box-sizing: border-box;
	margin: 0 20rem;
}

.games_container:after {
	content: "";
	display: table;
	clear: both;
}

.game_container {
	float: left;
	width: 25%;
	padding: 0 10px;
}

.game_card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color: #f1f1f1;
	transition: 0.3s;
	border-radius: 5px;
}

.game_card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
	padding: 2px 16px;
}
.game_img {
	width: 100px;
	height: 200px;
	object-fit: cover;
}

.game_button {
	text-decoration: none;
	color: #131313;
}

/* Mobile Navbar Section */
@media screen and (max-width: 960px) {
	.navbar_container {
		display: flex;
		justify-content: space-between;
		height: 80px;
		z-index: 1;
		width: 100%;
		max-width: 1300px;
		padding: 0;
	}
	.navbar_menu {
		display: grid;
		grid-template-columns: auto;
		margin: 0;
		width: 100%;
		position: absolute;
		top: -1000px;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: -1;
	}

	.navbar_menu_user {
		border-radius: 40px;
		height: 40px;
		padding: auto;
	}

	.navbar_menu.active {
		background: #eeeeee;
		top: 100%;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 99;
		height: 60vh;
		font-size: 1.6rem;
	}

	#navbar_logo {
		margin-left: 25px;
	}
	.navbar_toggle .bar {
		width: 25px;
		height: 3px;
		margin: 5px auto;
		transition: all 0.3s ease-in-out;
		background: rgb(39, 39, 39);
	}

	.navbar_item {
		width: 100%;
	}

	.navbar_links {
		text-align: center;
		padding: 2rem;
		width: 100%;
		display: table;
	}

	.navbar_btn {
		display: flex;
		padding-bottom: 2rem;
	}

	.navbar_btn_resp {
		display: none;
	}

	.button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		height: 80px;
		margin: 0 auto;
	}

	#mobile-menu {
		position: absolute;
		top: 20%;
		right: 5%;
		transform: translate(5%, 20%);
	}

	.navbar_toggle .bar {
		display: block;
		cursor: pointer;
	}

	#mobile-menu.is-active .bar:nth-child(2) {
		opacity: 0;
	}

	#mobile-menu.is-active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	#mobile-menu.is-active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	/* game Choice */
	.games_container {
		margin: 0 1rem;
	}

	.game_container {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}

	.choice_head_container {
		display: flex;
		margin: 3rem 1rem;
	}
}

/* Tablet screens */

@media (min-width: 600px) and (max-width: 1500px) {
	/* game Choice */
	.games_container {
		margin: 0 10rem;
	}

	.game_container {
		margin-bottom: 20px;
		width: 50%;
	}

	.choice_head_container {
		display: flex;
		margin: 3rem 10rem;
	}
}
