body {
	background: #2d2c2c;
	color: #fff;
	padding: 0px;
	margin: 0px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

.main-container {
	width: 100%;
	margin-top: 7%;
	display: grid;
	place-items: center;
	height: 100%;
}

h1 {
	font-size: 3rem;
}

form input {
	transform: translateX(-25%);
	display: block;
	border: 1px solid #eddede;
	border-radius: 5px;
	font-weight: bolder;
	background: #a3a3a3;
	padding: 1rem;
	outline: none;
	width: 180%;
	margin-bottom: 20px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}

.main-container input:focus {
	border: 1px solid #999;
}

.main-container button {
	background: #3a3a3a;
	color: #fff;
	border: 1px solid #eddede;
	border-radius: 5px;
	padding: 0.5rem;
	/* margin: auto; */
	font-size: 1rem;
	font-weight: 500;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}

.main-container button:hover {
	background: #383737;
	border: 1px solid #dfcfcf;
}

.register-button {
	display: block;
	text-decoration: none;
	color: #fff;
	margin-top: 5rem;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}

.register-button:hover {
	color: #eddede;
}

form {
	display: grid;
	place-items: center;
}

.register-form-container {
	margin-top: 50%;
}

.alert-danger {
	margin: 1rem;
	color: rgb(255, 94, 94);
}

.login-profile {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 200px;
	height: 4rem;
	min-width: fit-content;
	border-radius: 10px;
	background: #3a3a3a;
	color: #fff;
	border: 1px solid #eddede;
}

a {
	text-decoration: none;
	color: #fff;
}

.profile-button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	height: 3rem;
	width: 3rem;
	border: 1px solid;
	border-radius: 10px;
	background-color: #916ec9;
	color: #fff;
	margin: auto;
	transition: 250ms;
}

.profile-text {
	font-size: 1.2rem;
	margin: auto;
}

/* Mobile Screens */
@media only screen and (max-width: 600px) {
	form input {
		transform: translateX(-15%);
		width: 135%;
	}

	.main-container {
		margin-top: 10%;
	}
}
