<%- include('./structure/header') -%>
	<link rel="stylesheet" href="/static/style.css" />
</head>
<body>

<div class="contianer">
	<div class="image-container"></div>
	<form action="#" class="form">
		<div class="form-group">
			<input
				type="text"
				class="form-input"
				placeholder="Team Name"
				name="teamname"
			/>
		</div>
		<button type="submit" class="play-button">Play</button>
	</form>
</div>

<%- include('./structure/footer') -%>
