<%- include('./structure/header') -%>
	<link rel="stylesheet" href="/static/style.css" />
</head>
<body>

<div class="main-area">
	<div class="container">
		<div class="heading-container">
			<div class="text-container">
				<svg class="text-heading" width="250" height="250" viewBox="0 0 723 165" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 14.5261C0 6.79414 6.26801 0.526123 14 0.526123C21.732 0.526123 28 6.79414 28 14.5261V148.526C28 156.258 21.732 162.526 14 162.526C6.26801 162.526 0 156.258 0 148.526V14.5261Z" fill="#FFF4F4"/>
					<path d="M507.992 22.9046C507.992 16.0352 513.561 10.4664 520.43 10.4664C527.3 10.4664 532.869 16.0352 532.869 22.9046V134.256C532.869 141.126 527.3 146.694 520.43 146.694C513.561 146.694 507.992 141.126 507.992 134.256V22.9046Z" fill="#FFF4F4"/>
					<path d="M576.586 22.9046C576.586 16.0352 582.155 10.4664 589.024 10.4664C595.894 10.4664 601.462 16.0352 601.462 22.9046V134.256C601.462 141.126 595.894 146.694 589.024 146.694C582.155 146.694 576.586 141.126 576.586 134.256V22.9046Z" fill="#FFF4F4"/>
					<path d="M601.464 132.892C601.464 140.547 596.67 147.898 588.111 153.366C579.552 158.835 567.909 161.985 555.682 162.141C543.455 162.297 531.618 159.446 522.71 154.201C513.802 148.956 508.534 141.733 508.035 134.084L532.698 122.743H546.888H560.511H576.874L601.464 132.892Z" fill="#FFF4F4"/>
					<path d="M384.723 19.9146C384.723 12.6206 390.636 6.70764 397.93 6.70764C405.224 6.70764 411.137 12.6206 411.137 19.9146V146.84C411.137 154.134 405.224 160.047 397.93 160.047C390.636 160.047 384.723 154.134 384.723 146.84V19.9146Z" fill="#FFF4F4"/>
					<path d="M398.246 160.379C391.058 160.243 385.344 154.306 385.484 147.118C385.624 139.93 391.564 134.213 398.752 134.349L479.239 135.871C486.427 136.007 492.141 141.944 492.001 149.132C491.861 156.32 485.92 162.037 478.732 161.901L398.246 160.379Z" fill="#FFF4F4"/>
					<path d="M100.633 10.9247C100.633 4.89113 105.524 0 111.557 0C117.591 0 122.482 4.89113 122.482 10.9247V151.222C122.482 157.256 117.591 162.147 111.557 162.147C105.524 162.147 100.633 157.256 100.633 151.222V10.9247Z" fill="#FFF4F4"/>
					<path d="M61.9822 28.0006C54.2752 27.9506 48.0559 21.6623 48.0912 13.9551C48.1264 6.24795 54.4028 0.0405444 62.1099 0.0904772L161.133 0.732029C168.84 0.781961 175.059 7.07033 175.024 14.7775C174.989 22.4846 168.712 28.6921 161.005 28.6421L61.9822 28.0006Z" fill="#FFF4F4"/>
					<path d="M351.945 161.561C342.238 161.484 332.642 159.413 323.705 155.466C314.768 151.518 306.665 145.772 299.858 138.555C293.051 131.338 287.674 122.792 284.034 113.404C280.393 104.016 278.561 93.971 278.641 83.8416C278.721 73.7123 280.713 63.6972 284.501 54.3683C288.29 45.0395 293.802 36.5794 300.723 29.4713C307.643 22.3631 315.836 16.746 324.835 12.9408C333.833 9.13547 343.461 7.21651 353.167 7.29343L352.556 84.4274L351.945 161.561Z" fill="#FFF4F4"/>
					<path d="M635.238 18.1149C635.238 11.1479 640.886 5.5 647.853 5.5C654.82 5.5 660.468 11.1479 660.468 18.1149V142.454C660.468 149.421 654.82 155.068 647.853 155.068C640.886 155.068 635.238 149.421 635.238 142.454V18.1149Z" fill="#FFF4F4"/>
					<path d="M658.361 96.9923C666.47 96.9422 674.476 95.4939 681.844 92.7445C689.211 89.995 695.769 86.0079 701.078 81.0503C706.387 76.0927 710.325 70.2792 712.628 63.9993C714.931 57.7194 715.545 51.1183 714.43 44.6382C713.315 38.1581 710.495 31.9488 706.161 26.4263C701.827 20.9039 696.079 16.1959 689.3 12.6179C682.522 9.03985 674.871 6.67443 666.859 5.68013C658.847 4.68584 650.661 5.08563 642.848 6.85273L658.071 51.0703L658.361 96.9923Z" fill="#FFF4F4"/>
					<path d="M707.199 71.7936C716.075 81.5217 721.208 94.3836 721.59 107.852C721.972 121.321 717.575 134.423 709.263 144.584C700.952 154.745 689.326 161.231 676.67 162.768C664.014 164.304 651.243 160.78 640.865 152.888L650.169 139.168C657.292 144.586 666.058 147.004 674.745 145.95C683.433 144.895 691.413 140.443 697.118 133.468C702.823 126.494 705.841 117.501 705.579 108.256C705.316 99.0106 701.793 90.1822 695.701 83.5048L707.199 71.7936Z" fill="#FFF4F4"/>
					</svg>
					
			</div>
		</div>
		<div class="graphic-container">
			<div class="lap-container">
				<svg class="laptop-graphic" width="543" height="332" viewBox="0 0 543 332" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M47.002 303H474V309H47L47.002 303Z" fill="#5C5C5C"/>
				<rect x="33" width="455.519" height="303.029" rx="14" fill="#3A3A3A"/>
				<rect x="33" width="455.519" height="303.029" rx="14" fill="#212020"/>
				<rect x="47.4531" y="14.4329" width="426.633" height="271.131" rx="21" fill="#3A3A3A"/>
				<rect x="47.4531" y="14.4329" width="426.633" height="271.131" rx="21" fill="#565656"/>
				<g filter="url(#filter0_d_3_18)">
				<path d="M6.26324 320.168C3.45959 315.169 7.07292 309 12.8048 309H518.597C520.099 309 521.567 309.451 522.809 310.295C528.922 314.444 525.985 324 518.597 324H12.8048C10.0918 324 7.59027 322.535 6.26324 320.168Z" fill="#C4C4C4"/>
				</g>
				<defs>
				<filter id="filter0_d_3_18" x="1.29297" y="309" width="528.816" height="23" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
				<feFlood flood-opacity="0" result="BackgroundImageFix"/>
				<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
				<feOffset dy="4"/>
				<feGaussianBlur stdDeviation="2"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
				<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_3_18"/>
				<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3_18" result="shape"/>
				</filter>
				</defs>
				</svg>
				<div class="lap-shadow-container">
					<svg class="lap-shadow" width="1486" height="869" viewBox="0 0 1486 869" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0.5 867.5L1043.32 282L1485.5 290.007L454.5 867.5H0.5Z" fill="#202020"/>
						<path d="M0 627.5L1043.5 0V285.892L0 868.5V627.5Z" fill="#181818"/>
						</svg>
						
				</div>
			</div>	
		</div>
		<div class="button-container">
			<a href="/login" class="power-button">
					<svg class="power-off-button" width="217" height="213" viewBox="0 0 217 213" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_d_104_16)">
						<ellipse cx="108.012" cy="106.197" rx="89.5" ry="87" transform="rotate(-14.1131 108.012 106.197)" fill="#7A7979"/>
						</g>
						<g filter="url(#filter1_d_104_16)">
						<ellipse cx="106.682" cy="109.11" rx="60.5" ry="59.5" transform="rotate(-14.1131 106.682 109.11)" fill="#2D2C2C"/>
						</g>
						<path d="M106.387 79.6187C114.178 78.5593 121.817 79.9402 128.278 83.9579C134.74 87.9756 139.371 94.1086 141.315 101.221C143.258 108.333 142.382 115.942 138.849 122.639C135.315 129.335 129.363 134.666 122.097 137.642C114.83 140.618 106.74 141.039 99.3259 138.827C91.9119 136.614 85.6762 131.918 81.774 125.608C77.8718 119.298 76.5675 111.802 78.1028 104.509C79.6381 97.2161 83.9089 90.62 90.124 85.9428L93.6672 94.4063C89.3818 97.6313 89.0343 101.074 87.9757 106.102C86.9171 111.131 87.8164 116.299 90.507 120.65C93.1977 125.001 97.4972 128.239 102.609 129.765C107.721 131.29 113.299 131 118.31 128.948C123.321 126.896 127.424 123.22 129.861 118.603C132.297 113.985 132.901 108.739 131.561 103.835C130.221 98.931 127.028 94.7023 122.573 91.932C118.117 89.1618 115.675 88.2008 110.303 88.9313L106.387 79.6187Z" fill="#FFF4F4"/>
						<rect width="12.1464" height="38.9816" rx="6.0732" transform="matrix(0.941818 -0.336124 0.35779 0.933802 88.2617 73.187)" fill="#FFF4F4"/>
						<defs>
						<filter id="filter0_d_104_16" x="14.6367" y="19.0256" width="186.75" height="182.344" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
						<feOffset dy="4"/>
						<feGaussianBlur stdDeviation="2"/>
						<feComposite in2="hardAlpha" operator="out"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_104_16"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_104_16" result="shape"/>
						</filter>
						<filter id="filter1_d_104_16" x="42.2266" y="49.5353" width="128.91" height="127.149" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
						<feOffset dy="4"/>
						<feGaussianBlur stdDeviation="2"/>
						<feComposite in2="hardAlpha" operator="out"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_104_16"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_104_16" result="shape"/>
						</filter>
						</defs>
						</svg>						
			</a>
		</div>
	</div>
</div>

</div>

<%- include('./structure/footer') -%>
