<%- include('../structure/header') -%>
        <link rel="stylesheet" href="/static/menu/menu.css" />
    </head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar_container">
            <ul class="navbar_menu">
                <a href="/" id="navbar_logo"><i class="fas fa-power-off"></i></a>
                <li class="navbar_item"><a href="/" class="navbar_links" id="home_page">Home</a></li>
                <li class="navbar_item"><a href="#" class="navbar_links" id="home_page">Choices</a></li>
                <li class="navbar_btn"><a href="#" class="button" id="home_page">Login</a></li>
                <li class="navbar_btn"><a href="#" class="button" id="home_page">SignUp</a></li>
            </ul>
            <div class="navbar_toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar_menu">
                <li class="navbar_btn_resp"><a href="#" class="button" id="home_page">Login</a></li>
                <li class="navbar_btn_resp"><a href="#" class="button" id="home_page">SignUp</a></li>
            </ul>
        </div>
    </nav>
    <!-- Game Choice -->
    <div class="content_container">
        <div class="choice_head_container">
            <div class="choice_head">Choose any two games</div>
        </div>
        <div class="games_container">
                <div class="game_container">
                    <a href="/tatakaesnake" class="game_button">
                        <div class="game_card">  
                            <img class="game_img" src="/static/assets/games/snakegame.jpg" alt="Avatar" style="width:100%">
                            <div class="container">
                            <h4><b>Snake Game</b></h4>
                            <p>Slither 'n' Eat</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="game_container">
                    <a href="/snapthatcode" class="game_button">
                        <div class="game_card">
                            <img class="game_img" src="/static/assets/games/dinosaur.jpg" alt="Avatar" style="width:100%">
                            <div class="container">
                            <h4><b>Snap The Code</b></h4>
                            <p>Click n Snap!!!</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="game_container">
                    <a href="/tatakaesnake" class="game_button">
                        <div class="game_card">
                            <img class="game_img" src="/static/assets/games/pictionary.jpg" alt="Avatar" style="width:100%">
                            <div class="container">
                            <h4><b>Pictionary</b></h4>
                            <p>Is that what i think it is...</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="game_container">
                    <a href="/tatakaesnake" class="game_button"></a>
                        <div class="game_card">
                            <img class="game_img" src="/static/assets/games/quiz.jpg" alt="Avatar" style="width:100%">
                            <div class="container">
                            <h4><b>Quiz</b></h4>
                            <p>Leave this one for the nerds🤓</p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
    </div>
</body>   
    
    <script src="/static/menu/menu.js"></script>
<%- include('../structure/footer') -%>