<%- include('../structure/header') %>
<link rel="stylesheet" href="/static/menu/dashboard.css">
<%- include('../structure/sidenav') %>

        <div class="main-container">
            Welcome back, <%=username%>
        </div>

	</body>
</html>
