<%- include('../structure/header') %>

<%- include('../structure/sidenav') %>
        <h1>Groups is underconstruction</h1>
    </body>
</html>

<style>
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
</style>