<%- include('../structure/header') %>
<link rel="stylesheet" href="/static/menu/groups.css" />
<%- include('../structure/sidenav') %>
    <div class="cards">
        <div class="card">
            <img src="/static/assets/games/placeholder.gif" class="card__image">
            <div class="card__content">
                <h1>System Zombies</h1>
                <p>
                    Team Members: 
                </p>
                <p>

                </p>
                <div class="card__info">
                    <button class="join__button">Join group</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="/static/assets/games/placeholder.gif" class="card__image">
            <div class="card__content">
                <h1>Alphatron</h1>
                <p>
                    Team Members: 
                </p>
                <p>

                </p>
                <div class="card__info">
                    <button class="join__button">Join group</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="/static/assets/games/placeholder.gif" class="card__image">
            <div class="card__content">
                <h1>Brutewiser</h1>
                <p>
                    Team Members: 
                </p>
                <p>

                </p>
                <div class="card__info">
                    <button class="join__button">Join group</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="/static/assets/games/placeholder.gif" class="card__image">
            <div class="card__content">
                <h1>Techno Warriors</h1>
                <p>
                    Team Members: 
                </p>
                <p>

                </p>
                <div class="card__info">
                    <button class="join__button">Join group</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="/static/assets/games/placeholder.gif" class="card__image">
            <div class="card__content">
                <h1>Tech Wizards</h1>
                <p>
                    Team Members: 
                </p>
                <p>

                </p>
                <div class="card__info">
                    <button class="join__button">Join group</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="/static/assets/games/placeholder.gif" class="card__image">
            <div class="card__content">
                <h1>Code Ninjas</h1>
                <p>
                    Team Members: 
                </p>
                <p>

                </p>
                <div class="card__info">
                    <button class="join__button">Join group</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="/static/assets/games/placeholder.gif" class="card__image">
            <div class="card__content">
                <h1>Alpha tech</h1>
                <p>
                    Team Members: 
                </p>
                <p>

                </p>
                <div class="card__info">
                    <button class="join__button">Join group</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="/static/assets/games/placeholder.gif" class="card__image">
            <div class="card__content">
                <h1>Code Titans</h1>
                <p>
                    Team Members: 
                </p>
                <p>

                </p>
                <div class="card__info">
                    <button class="join__button">Join group</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="/static/assets/games/placeholder.gif" class="card__image">
            <div class="card__content">
                <h1>Trojan Force</h1>
                <p>
                    Team Members: 
                </p>
                <p>

                </p>
                <div class="card__info">
                    <button class="join__button">Join group</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="/static/assets/games/placeholder.gif" class="card__image">
            <div class="card__content">
                <h1>Infotech</h1>
                <p>
                    Team Members: 
                </p>
                <p>

                </p>
                <div class="card__info">
                    <button class="join__button">Join group</button>
                </div>
            </div>
        </div>
    </div>




    </body>
</html>