<%- include('../structure/header') -%>
        <link rel="stylesheet" href="/static/game/block.css" />
        <link rel="stylesheet" href="/static/prism/prism.css" />
        <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
    </head>
    <body onload="init()">
        <div class="main-container">
            <ul class="columns">
          
              <li class="column to-do-column">
                <div class="column-header">
                  <h4>Options</h4>
                </div>
                <ul class="task-list" id="to-do">
                  <li class="task" id="optionOne">
                    <pre class="code-highlight" ><code class="language-c ">
for (i = 3; i &lt= n; ++i) {
    printf("%d, ", nextTerm);
    t1 = t2;
    t2 = nextTerm;
    nextTerm = t1 + t2;
}
</code></pre>
                  </li>
                  <li class="task" id="optionTwo">
                    <pre class="code-highlight" ><code class="language-c ">
for (i = 3; i &gt= n; ++i) {
    printf("%d, ", nextTerm);
    t1 = t2;
    t2 = nextTerm;
    nextTerm = t1 + t2;
}
</code></pre>
                  </li>
                  <li class="task" id="optionThree">
                    <pre class="code-highlight" ><code class="language-c ">
for (i = 3; i &gt= n; ++i) {
    printf("%d, ", nextTerm);
    t1 = t2;
    t2 = nextTerm;
    nextTerm = t1 - t2;
}
</code></pre>
                  </li>
                </ul>
              </li>
          
              <li class="column doing-column">
                <div class="column-header">
                  <h4>Program to find the fibonnaci sequence of first n numbers</h4>
                </div>
                <ul class="task-list" id="doing">
                  <li class="task question-code">
                    <pre class="code-highlight" ><code class="language-c ">
#include &ltstdio.h&gt
int main() {
                            
int i, n;
                   
int t1 = 0, t2 = 1;
int nextTerm = t1 + t2;        

printf("Enter the number of terms: ");
scanf("%d", &n);                        
printf("Fibonacci Series: %d, %d, ", t1, t2);                        
                    </code></pre>                    
                  </li>
                  <li class="task question-code end-block">
                    <pre class="code-highlight" ><code class="language-c ">
    return 0;
}                  
                    </code></pre>                    
                  </li>
                </ul>
              </li>
            </ul>

          </div>
        
    <script type="text/javascript" src="/static/prism/prism.js"></script>      
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.js"></script>
    <script type="text/javascript" src="/static/game/block.js"></script>
<%- include('../structure/footer') -%>
    